.item {
    color: white;
    background-color: var(--gray-500);
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    input[type = 'checkbox'] { 
        width: 1.8rem;
        height: 1.3rem;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type='checkbox']:checked+.checkbox_custom {
        background-color: var(--blue-400);
        /* Cor quando está marcado */
    }

    p {
        margin-left: 0.75rem;
    }

    .checkbox_custom {
        width: 1.8rem;
        height: 1.3rem;
        background-color: transparent;
        border: 2px solid var(--blue-400);
        border-radius: 100%;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .buttonTrash {
        background-color: transparent;
        color: white;
        border: 0;
    }

    .content {
        width: 100%;
        justify-content: left;
    }

    .category {
        width: 30%;
        margin-right: 1rem;
        padding: 0.5rem;
        border-radius: 8px;
        background-color: var(--gray-400);
        color: var(--blue-400);
    }
}

.itemList {
    margin-top: 1rem;
    width: 46rem;
}

.item + .item {
    margin-top: 0.875rem;
}

@media screen and (max-width: 768px) {

    .itemList {
        width: 21rem;
    }


    .item{
        .checkbox_custom {
        width: 2rem;
        height: 1rem;
    }
    }
}